[user]
	name = Srivatsa Katta
	email = vatsa.katta@gmail.com
[github]
	user = katta
	token = be0656837d3ef36850cb11a1edbb1e66
[color]
	status = auto
	branch = auto
	diff = auto
[alias]
	st = status
	ci = commit
	co = checkout
	rb = rebase -i
	cpk = cherry-pick
	pull = pull --rebase
 	slog = log --oneline --decorate=short
	glog = log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[core]
	autocrlf = input 
	ignorecase = false
	filemode = false
	excludesfile = /Users/skatta/.gitignore_global
[branch]
	autosetuprebase = always
	autosetupmerge = true
[push]
	default = tracking
[svn]
	rmdir = true

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
