[user]
	name = Srivatsa Katta
	email = vatsa.katta@gmail.com
[github]
	user = katta
	token = be0656837d3ef36850cb11a1edbb1e66
[color]
	status = auto
	branch = auto
	diff = auto
[alias]
	st = status
	ci = commit
	co = checkout
	rb = rebase -i
	cpk = cherry-pick
	pull = pull --rebase
    slog = log --oneline --decorate=short
[core]
	autocrlf = false
[branch]
	autosetuprebase = always
	autosetupmerge = true
[push]
	default = tracking

